[submodule "resources/typed.js"]
	path = resources/typed.js
	url = https://github.com/mattboldt/typed.js.git
[submodule "resources/animate.css"]
	path = resources/animate.css
	url = https://github.com/daneden/animate.css.git
[submodule "resources/wow"]
	path = resources/wow
	url = https://github.com/matthieua/WOW.git
