header
{
    display: inline-block;
    
    width: 100vw;
    height: 100vh;
}

header > overlay
{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0,0,0,.8);    
}

header div > p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 100px;
    font-family: bebas;
    color: white;
}

header div
{
    display: flex;
    
    width: auto;
    height: auto;
    
    justify-content: center;
    align-items: center;
    
    flex-flow: column nowrap;
}

header div div
{
    display: flex;
    
    width: 0%;
    height: 50px;
    
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    animation-name: buttons_box;
    animation-duration: 2s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    
    opacity: 0;
}

header a
{
    display: flex;
    
    width: 50%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    
}

header a:first-child {background-color: rgba(0, 118, 9, 0.8); color: white}
header a:last-child {background-color: rgba(181, 181, 181, 0.8); color: black}

header a > p
{
    display: none;
    
    width: auto;
    height: auto;
    
    font-size: 20px;
    font-family: bebas;
    text-transform: uppercase;
    
    transition: all .2s ease-in-out 0s;
}

header a:hover > p {font-size: 22px}

/*VIDEO BACKGROUND PROPERTIES*/
#bgvid
{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../../img/wallpaper.png) no-repeat;
    background-size: cover;
}

/*
##################################################
                    ANIMATIONS
##################################################
*/

@keyframes buttons_box
{
    from {opacity: 1}
    to {opacity: 1; width: 100%}
}