header
{
    display: inline-block;
    
    width: 100vw;
    height: 100vh;
}

header > overlay
{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0,0,0,.8);    
}

header div > p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 100px;
    font-family: bebas;
    color: white;
}

/*MAIN CONTENT CONTAINER*/
header > overlay > div:first-of-type
{
    display: flex;
    
    width: auto;
    height: auto;
    
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*BUTTONS CONTAINER*/
header > overlay > div:first-of-type > div
{
    display: flex;
    
    width: 0%;
    height: 50px;
    
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    animation-name: buttons_box;
    animation-duration: 2s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    
    opacity: 0;
}

header > overlay > div:first-of-type > div > a
{
    display: flex;
    
    width: 50%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

header a:first-child {background-color: rgba(0, 118, 9, 0.8); color: white}
header a:last-child {background-color: rgba(181, 181, 181, 0.8); color: black}

header a > p
{
    display: none;
    
    width: auto;
    height: auto;
    
    font-size: 20px;
    font-family: bebas;
    text-transform: uppercase;
    
    transition: all .2s ease-in-out 0s;
}

header a:hover > p {font-size: 22px}

/*VIDEO BACKGROUND PROPERTIES*/
#vid
{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../../img/wallpaper.png) no-repeat;
    background-size: cover;
}

header > overlay > div:last-child
{
    display: flex;
    position: absolute;
    top: 75%;
    
    width: 50%;
    height: 10%;
    
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

header > overlay > div:last-child > div
{
    display: none;
}

header > overlay > div:last-child:hover > div
{
    display: inline-block;
}

header > overlay > div:last-child > svg
{
    display: inline-block;
    position: absolute;
    
    width: auto;
    height: 100%;
    
    animation-name: speakerposition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

header > overlay > div:last-child:hover > svg
{
    animation-name: speakermove;
    
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/*VOLUME BAR*/
.volume {
    position: relative;
    cursor: pointer;
    
    width: 500px;
    height: 20px;
    
    float: left;
    
    /*margin-top: 10px;
    margin-right: 10px;*/
    
    background-color: #6a6a6a;
    border-radius: 10px;
}

.volumeBar {
    display:block;
    height:20px;
    position:absolute;
    top:0;
    left:0;
    background-color:#ffffff;
    z-index:10;
    width: 100%;
    border-radius: 10px;
}

.volume3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 100px;
    border-color: transparent transparent #007bff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #007bff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

/*
##################################################
                    ANIMATIONS
##################################################
*/

@keyframes buttons_box
{
    from {opacity: 1}
    to {opacity: 1; width: 100%}
}

@keyframes speakermove
{
    from {transform: translateX(0px)}
    to {transform: translateX(-300px)}
}

@keyframes speakerposition
{
    from {transform: translateX(-300px)}
    to {transform: translateX(0px)}
}