header
{
    display: inline-block;
    
    width: 100vw;
    height: 100vh;
}

header > overlay
{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0,0,0,.8);    
}

header p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 100px;
    font-family: bebas;
    color: white;
}

/*VIDEO BACKGROUND PROPERTIES*/
#bgvid
{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../../img/wallpaper.jpg) no-repeat;
    background-size: cover;
}