nav
{
    display: flex;
    position: absolute;
    bottom: 0;
    
    width: 100vw;
    height: 10vh;
    
    flex-flow: row nowrap;
    align-items: center;
    
    background-color: black;
}

.scrolled
{
    position: fixed;
    top: 0;
    
    height: 5vh;
    
    background-color: rgba(0,0,0,.9);  
}

nav svg
{
    display: flex;
    
    width: auto;
    height: 90%;
    
    margin: auto;
    
    justify-content: center;
    align-items: center;
}

nav image
{
    display: inline-block;
    
    width: 100%;
    height: 100%;
}

nav ul
{
    display: flex;
    
    width: 80%;
    height: 100%;
    
    padding: 0;
    
    flex-flow: row nowrap;
}

nav li
{
    display: inline-block;
    
    width: 100%;
    height: 100%;
}

nav a
{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    
    color: white;
}

nav p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 50px;
    font-family: bebas;
}

/*
##################################################
                       HOVER
##################################################
*/

nav a:hover
{
    animation-name: hovermenu;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/*
##################################################
                    ANIMATIONS
##################################################
*/

@keyframes hovermenu
{
    0% {background-color: white; color: black}
    25% {background-color: yellow}
    50% {background-color: blue}
    75% {background-color: red}
    100% {background-color: green}    
}