#thegame
{
    display: flex;
    
    width: 100vw;
    height: 40vh;
    
    justify-content: center;
    align-items: flex-start;
    
    background-color: white;
}

/*MAIN ELEMENTS CONTAINER*/
#thegame > div
{
    display: flex;
    
    width: 100%;
    height: 100%;
        
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*EACH ELEMENT*/
#thegame > div > div
{
    display: flex;
    
    width: 150px;
    height: 100%;
    
    padding-top: 13vh;
    
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*EACH ELEMENT IMAGES*/
#thegame svg
{
    display: inline-block;
    
    width: 100%;
    height: auto;
}

/*EACH ELEMENT TEXT CONTENT*/
#thegame > div > div > p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    margin-top: 25px;
    
    font-size: 25px;
    font-family: bebas;
    text-transform: uppercase;
    text-align: center;
}